#footer .view-products-in-use .views-field-field-image { width:86px; margin-bottom: 5px; margin-right: 5px; border:1px solid #C9D6E1; }

.node-teaser .field-type-image img { height:189px; }

.view-latest-products .views-field-field-image, .yoxview-image-item img { width:110px; }

.view-promoted-posts .views-row-4, .view-promoted-posts .views-row-7, .view-promoted-posts .views-row-10 { clear:both; }