body { border-top: 3px solid #5b8c0c; }

/* Links */
a, a.active, li a.active { color: #5b8c0c; }

.block #twtr-widget-1 .twtr-tweet a { color:#5b8c0c !important; }

a:hover { color: #8db135; }

/* Headings */
h1.title { color: #5b8c0c; }

#sidebar h2 { color: #5b8c0c; }

/* Menus */
#subfooter ul.menu li, div.links ul li, #header ul.menu li { border-right:1px solid #5b8c0c; }

/* Header */
#header { border-top: 1px solid #5b8c0c; }

/* Search block */
#block-search-form .container-inline:hover { border-color: #5b8c0c; }

#block-search-form input.form-text { color: #5b8c0c; }

/* Main navigation */
#main-navigation ul li a:active, #main-navigation ul li a:hover { color: #5b8c0c; }

/* Superfish support */
#main-navigation .block-superfish ul li a.menuparent, #main-navigation .block-superfish ul li span { background-image: url("images/green/main-menu-expanded.png"); }

#main-navigation .block-superfish ul.menu ul { background-color: #8db135; 
-moz-box-shadow: inset 0 10px 10px 0 #759c27; -webkit-box-shadow: inset 0 10px 10px 0 #759c27; 
-o-box-shadow: inset 0 10px 10px 0 #759c27; box-shadow: inset 0 10px 10px 0 #759c27; }

#main-navigation .block-superfish ul.menu ul li:hover, #main-navigation .block-superfish ul.menu ul li.menuparent.sfHover { background-color: #5b8c0c; }

/* Views - Submit buttons */
.view-promoted-posts .views-field-view-node a, input[type="submit"], input[type="reset"], input[type="button"],
.checkout-buttons .checkout-cancel, .checkout-buttons .checkout-back,
li.line-item-summary-view-cart a, li.line-item-summary-checkout a { background-color: #5b8c0c; }

.view-promoted-posts .views-row .views-field-view-node a:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
.checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus, .checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover,
li.line-item-summary-view-cart a:hover, li.line-item-summary-checkout a:hover { background-color: #8db135; }

.view-latest-products .views-field-title { color: #5b8c0c; }

/* Tables */
table th { background:#5b8c0c; border-color: #5b8c0c; }

/* Node */
.field-type-taxonomy-term-reference { background-image: url("images/green/tag.png"); }

.author-title { border-bottom: 1px solid #5b8c0c; }

#comments h2.title { background-image: url("images/green/comment-title.png"); }

.poll .bar .foreground { background-color: #5b8c0c; }

/* Team members */
.team-member h2 { color: #5b8c0c; }

.team-member-email a { background-image: url("images/green/member-email.png"); }

/* Forms */
label { color: #5b8c0c; }

input.form-text:focus { border: 1px solid #5b8c0c; }

/* Footer */
#footer h2 { color: #5b8c0c; }

.footer-area a.more { color: #5b8c0c; }

.footer-area a.more:hover { color: #8db135; }

#footer ul.menu li a.active, #sidebar ul.menu li a.active { color: #5b8c0c; }

/* Scroll to top */
#toTop { background-color: #5b8c0c }

#toTop:hover { background-color: #8db135 }

/* Flexslider */
.flex-direction-nav li a.next { background-color: #5b8c0c; }

.flex-direction-nav li a.prev { background-color: #5b8c0c; }

.flex-direction-nav li a:hover { background-color: #8db135; }

.flex-control-nav li a.active { border: 1px solid #5b8c0c; background: #5b8c0c; }

.flex-control-nav li a:hover { border: 1px solid #5b8c0c; }

/* Social-bookmarks */
ul.social-bookmarks li.facebook a:hover { background-image: url("images/green/facebook-hover.png"); }

ul.social-bookmarks li.twitter a:hover { background-image: url("images/green/twitter-hover.png"); }

ul.social-bookmarks li.flickr a:hover { background-image: url("images/green/flickr-hover.png"); }

ul.social-bookmarks li.youtube a:hover { background-image: url("images/green/youtube-hover.png"); }

ul.social-bookmarks li.linkedin a:hover { background-image: url("images/green/linkedin-hover.png"); }

ul.social-bookmarks li.tumblr a:hover { background-image: url("images/green/tumblr-hover.png"); }

ul.social-bookmarks li.pinterest a:hover { background-image: url("images/green/pinterest-hover.png"); }

ul.social-bookmarks li.googleplus a:hover { background-image: url("images/green/googleplus-hover.png"); }

.preload-social-bookmarks .facebook { background-image: url("images/green/facebook-hover.png"); }

.preload-social-bookmarks .twitter { background-image: url("images/green/twitter-hover.png"); }

.preload-social-bookmarks .flickr { background-image: url("images/green/flickr-hover.png"); }

.preload-social-bookmarks .youtube { background-image: url("images/green/youtube-hover.png"); }

.preload-social-bookmarks .linkedin { background-image: url("images/green/linkedin-hover.png"); }

.preload-social-bookmarks .tumblr { background-image: url("images/green/tumblr-hover.png"); }

.preload-social-bookmarks .pinterest { background-image: url("images/green/pinterest-hover.png"); }

.preload-social-bookmarks .googleplus { background-image: url("images/green/googleplus-hover.png"); }

/* Drupal Commerce */
.view-promoted-posts .views-field-commerce-price, .node .field-name-commerce-price { color:#5b8c0c; }